<div class="host-component">

  <div class="container">
    
    <h2>{{ noOfActivePlayers }} players has joined</h2>

    <div class="player-controller" *ngIf="!isOptionsRoundActive">
      <div *ngFor="let buzz of activeBuzzes" class="player-line">
        {{ buzz.displayName }}
      </div>
      <button (click)="onClearBuzzes()">Clear buzzes</button>
    </div>

    <div class="player-controller" *ngIf="isOptionsRoundActive">
      <div *ngFor="let answer of activeAnswers" class="player-line">
        {{ answer.playerDisplay }}: {{ answer.option }}
      </div>

      <div class="two-button-row">
        <button class="handle-answers-button" (click)="onLockAnswers()">Lock answers</button>
        <button class="handle-answers-button" (click)="onResetAnswers()">Reset answers</button>
      </div>

    </div>

    <div class="points-container">
      <div *ngFor="let player of players" class="player-container">
        {{ player.id }}
        <div class="points-tracker">
          <div class="setter" (click)="onSetPoints(player, -50)">-50</div>
          <div class="points">{{ player.points }}</div>
          <div class="setter" (click)="onSetPoints(player, 50)">+50</div>
        </div>
      </div>
    </div>

    <div class="two-button-row">
      <button [disabled]="isOptionsRoundActive" (click)="onSetOptionsRoundActive(true)">START options round</button>
      <button [disabled]="!isOptionsRoundActive" (click)="onSetOptionsRoundActive(false)">END options round</button>
    </div>

  </div>

</div>