@import '../../assets/styles/variables';

.host-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: 100vw;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin-top: 24px;

    .player-controller {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;

      .handle-answers-button {
        color: $primary-text-color;
        background-color: darken($primary-color, 10%);
        box-shadow: 0 3px 0 0 darken($primary-color, 5%);
      }
    }

    button {
      max-width: 400px;
    }

    .player-line {
      margin: 4px;
    }

    .points-container {
      display: flex;
      flex-direction: column;
      margin-top: 12px;
      margin-bottom: 40px;
      color: $point-tracker-text-color;

      .player-container {
        display: flex;
        flex-direction: column;
        user-select: none;
        margin: 8px;
        padding: 2px 6px 6px;
        width: 250px;
        background: rgba($point-tracker-color, 0.2);
        border-radius: 10px;

        .points-tracker {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .setter {
            display: flex;
            align-items: center;
            justify-content: center;
            vertical-align: middle;
            cursor: pointer;
            font-size: 16px;
            background: rgba($point-tracker-color, 0.5);
            color: $point-tracker-text-color--alt;
            border-radius: 10px;
            width: 60px;
            height: 40px;

            &:hover {
              background: rgba($point-tracker-color, 0.8);
            }

            &:active {
              transform: translateY(2px);
            }
          }

          .points {
            font-size: 2em;
          }
        }
      }
    }

    .two-button-row {
      display: flex;
      flex-direction: row;
      gap: 24px;

      button {
        width: 300px;
        color: $primary-text-color;
        font-weight: 600;
        background-color: lighten($primary-color, 10%);
        box-shadow: 0 3px 0 0 darken($primary-color, 5%);

        &:disabled {
          cursor: default;
          opacity: 0.4;
        }
      }
    }


  }
}