<div class="host-component">

  <div class="container">
    
    <h2>{{ noOfActivePlayers }} players has joined</h2>

    <div class="player-controller" *ngIf="activeRound === 'regular'">
      <div *ngFor="let buzz of activeBuzzes" class="player-line">
        {{ buzz.displayName }}
      </div>
      <button (click)="onClearBuzzes()">Clear buzzes</button>
    </div>

    <div class="player-controller" *ngIf="activeRound === 'options' || activeRound === 'count' || activeRound === 'input'">
      <div *ngFor="let answer of activeAnswers" class="player-line">
        {{ answer.playerDisplay }}: {{ answer.option }}
      </div>

      <div class="two-button-row">
        <button class="handle-answers-button" (click)="onLockAnswers()">Lock answers</button>
        <button class="handle-answers-button" (click)="onResetAnswers()">Reset answers</button>
      </div>

    </div>

    <div class="points-container">
      <div *ngFor="let player of players" class="player-container">
        {{ player.id }}
        <div class="points-tracker">
          <div class="setter" (click)="onSetPoints(player, -50)">-50</div>
          <div class="points">{{ player.points }}</div>
          <div class="setter" (click)="onSetPoints(player, 50)">+50</div>
        </div>
      </div>
    </div>

    <div class="two-button-row">
      <button [disabled]="activeRound === 'options'" (click)="onSetActiveRound('options', ['A', 'B', 'C', 'D'])">START Quiz</button>
      <button [disabled]="activeRound !== 'options'" (click)="onSetActiveRound('regular')">END Quiz</button>
    </div>

    <div class="two-button-row">
      <button [disabled]="activeRound === 'input'" (click)="onSetActiveRound('input')">START Input</button>
      <button [disabled]="activeRound !== 'input'" (click)="onSetActiveRound('regular')">END Input</button>
    </div>

    <div class="two-button-row">
      <button [disabled]="activeRound === 'count'" (click)="onSetActiveRound('count')">START Count</button>
      <button [disabled]="activeRound !== 'count'" (click)="onSetActiveRound('regular')">END Count</button>
    </div>

  </div>

</div>