<div class="player-component">
  <div class="header"></div>

  <div *ngIf="!isPlayerJoined" class="container">
    <div *ngFor="let player of players">
      <input
        name="username"
        type="radio"
        attr.data-icon="{{ player.displayName }}"
        (change)="onSetSelectedPlayer(player)"
      />
    </div>
    <button *ngIf="activePlayer.id" type="submit" (click)="onSelect()" class="enter">
      Enter
    </button>
  </div>

  <div *ngIf="isPlayerJoined && !isRoundOptionsActive" class="container">
    <div class="player-info">Logged in as: <span>{{ activePlayer.displayName }}</span></div>
    <button class="buzzer" (click)="onBuzz()">Buzz</button>
  </div>

  <div *ngIf="isPlayerJoined && isRoundOptionsActive" class="container">
    <div class="player-info">Logged in as: <span>{{ activePlayer.displayName }}</span></div>

    <div class="options">
      <div
        *ngFor="let option of options"
        (click)="!areAnswersLocked && onAnswer(option)"
        class="option-button"
        [class.selected]="activeAnswer === option"
        [class.not-selected]="activeAnswer !== option || areAnswersLocked"
      >
        {{option}}
      </div>
    </div>
  </div>

</div>
